<%- include('header'); %>

<!-- show the account transactions-->
<ul>
  <%- include('transactions', {account:account})%>
</ul>


  <% if (account.unique_name == 'credit' && account.balance > 0) { %>
    <br><a href="/payment">Make a Payment</a>
  <% } %>

  <br><a href="/">Back to Accounts Summary</a>

<%- include('footer'); %>